{% extends 'navbar.html' %}

{% block title %} 保险列表 {% endblock %}
{% block page_content %}

{% for msg in get_flashed_messages() %}
    <center><br><br><br><br>
    <b style="font-size:40px">{{ msg }}</b></center>
{% endfor %}

{% for baoxian in baoxian_list %}
<div class="col-md-3">
    <div class="movielist text-center">
        <!--<img data-original="holder.js/262x166"
                 class="img-responsive lazy center-block" alt="">-->
        <a href="{{ url_for('baoxian_introduce', id=baoxian.id) }}" style="display: inline-block;">
        <img class="img-responsive center-block" alt=""
             src="{{ url_for('static', filename='pic/baoxian/'+baoxian.pic_name) }}" style="height:190px;width:190px;">
        </a>
        <div class="text-left" style="margin-left:auto;margin-right:auto;width:210px;">
            <span style="color:#999;font-style: italic;">{{ baoxian.name }} </span>&nbsp&nbsp&nbsp
            <b>价格: {{ baoxian.price }} /RMB</b>
            <div>
                <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
            </div>
        </div>
        <a href="{{ url_for('home.buy_baoxian', id=baoxian.id) }}" class="btn btn-primary" target="_blank" role="button"><span
                class="glyphicon glyphicon-shopping-cart"></span> 购买保险</a>
    </div><br>
</div>
{% endfor %}
<br><br><br><br><br><br>
{% endblock %}