{%- extends 'home/user.html' %}
{%- block title %} 购物车 {% endblock %}

{%- block content %}
<section class="content-header">
    <h1>个人信息管理</h1>
    <ol class="breadcrumb">
        <li><a href="{{ current_user.username }}/info"><i class="fa fa-dashboard"></i> 个人钱包</a></li>
        <li class="active">购物车</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <form method="post" action="">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">用户详情</h3>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>
                                    <input type="checkbox" id="select_all">  全选/反选
                                </th>
                                <th>药品</th>
                                <th>单价</th>
                                <th>数量</th>
                            </tr>
                            {% for good, amount in goods.items() %}
                            <tr>
                                <td id="{{ good.id }}">
                                    <input type="checkbox" class="custom-control-input"
                                           name="box" id="customCheck1" checked>
                                </td>
                                <td class="td_bd">
                                    <a href="{{ url_for('drug.drug_info', id=good.id) }}">{{ good.name }}</a>
                                </td>
                                <td>{{ good.price }}</td>
                                <td>{{ amount }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h3>总价: <b id="sum">{{ goods | compute_price() }}</b></h3>
        {% set objs = goods|map(attribute='id')|join(',') %}
        <a href="#" class="btn btn-primary" target="_blank" role="button" id="buy" name="buy_or_del">
            <span class="glyphicon glyphicon-ok"></span> 一键购买</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="#" class="btn btn-danger" role="button" target="_blank" id="del" name="buy_or_del">
            <span class="glyphicon glyphicon-trash"></span> 删除选中药品</a>
    </form>
</section>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/home/select_all.js') }}"></script>
    <script src="{{ url_for('static', filename='js/home/buy_or_del.js') }}"></script>
{% endblock %}