{%- extends 'home/user.html' %}
{%- block title %} 积分 {% endblock %}

{%- block content %}

<section class="content-header">
    <h1>个人信息管理</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 积分</a></li>
        <li class="active"> 剩余积分</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">剩余积分</h3>
                </div>
                &nbsp&nbsp&nbsp&nbsp<b>剩余积分: {{ score }}</b><br><br>
                &nbsp&nbsp&nbsp&nbsp<b>消费金额可以获取积分</b>
            </div>
        </div>
    </div>
</section>

{% endblock %}