{%- extends 'home/user.html' %}
{%- block title %} 修改密码 {% endblock %}

{%- block content %}

<section class="content-header">
    <h1>个人信息管理</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 个人信息</a></li>
        <li class="active">浏览</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">用户详情</h3>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td class="td_bd">唯一 ID：</td>
                            <td>{{ current_user.id }}</td>
                        </tr>
                        <tr>
                            <td class="td_bd">用户名：</td>
                            <td>{{ current_user.username }}</td>
                        </tr>
                        <tr>
                            <td class="td_bd">邮箱：</td>
                            <td>{{ current_user.email }}</td>
                        </tr>
                        <tr>
                            <td class="td_bd">手机：</td>
                            <td>{{ current_user.tel }}</td>
                        </tr>
                        <tr>
                            <td class="td_bd">头像：</td>
                            <td>
                                <img data-src="holder.js/100x100" src="{{ url_for('static', filename='pic/logo/buty.jpg') }}" class="img-responsive" width=200px height=200px alt="">
                            </td>
                        </tr>
                        <tr>
                            <td class="td_bd">注册时间：</td>
                            <td>
                                {{ current_user.joinTime }}
                            </td>
                        </tr>
                        <tr>
                            <td class="td_bd">所在地：</td>
                            <td>
                                {{ current_user.location }}
                            </td>
                        </tr>
                        <tr>
                            <td class="td_bd">性别：</td>
                            <td>
                                {% if current_user.gender %}
                                <h5>男</h5>
                                {% else %}
                                <h5>女</h5>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}