{%- extends 'home/user.html' %}
{%- block title %} 统筹基金 {% endblock %}

{%- block content %}

<section class="content-header">
    <h1>个人信息管理</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 统筹基金管理</a></li>
        <li class="active"> 统筹基金使用记录</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">订单列表</h3>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th class="td_bd"> 订单号 </th>
                            <th> 药品详情 </th>
                            <th> 使用统筹基金 </th>
                            <th> 花费 </th>
                            <th> 支付状态 </th>
                            <th> 获得积分 </th>
                        </tr>
                        {% for order in jijin_order %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>
                                {% for k,v in order.buyDetail.items() %}
                                <a href="{{ url_for('drug.drug_info', id=k) }}">{{ bought[k] }}</a>: {{ v }}个<br>
                                {% endfor %}
                            </td>
                            <td>{{ order.useTongchou }}</td>
                            <td>{{ order.paySum }}</td>
                            <td>{{ order.isPayed }}</td>
                            <td>{{ order.getScore }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}