{%- extends 'home/user.html' %}
{%- block title %} 待就诊 {% endblock %}

{%- block content %}

<section class="content-header">
    <h1>个人信息管理</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 就诊管理</a></li>
        <li class="active"> 诊断记录</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">诊断列表</h3>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th class="td_bd"> 就诊人</th>
                            <th> 就诊日期</th>
                            <th> 诊断医生</th>
                            <th> 诊断结果</th>
                            <th> 是否需要住院</th>
                        </tr>
                        {% for diag in diags %}
                        <tr>
                            {% for cus in customs %}
                            {% if cus.username == diag.custom %}
                            <td>{{ cus.realname }}</td>
                            {% endif %}
                            {% endfor %}
                            <td>{{ diag.diagnosis_date }}</td>
                            <td>{{ diag.doctor }}</td>
                            <td>{{ diag.diagnosis_result }}</td>
                            <td>{{ diag.need_hospitalization }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}